<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.storm.earthquake">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light.DarkActionBar">

        <service
            android:name=".EarthquakeUpdateService"
            android:enabled="true" />

        <meta-data
            android:name="android.app.default_searchable"
            android:value=".EarthquakeSearchResults" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBBqI61UkW-Wy4nmhBrHzKnHWssQckr5SU" />

        <activity
            android:name=".preferences"
            android:label="Earthquake Preferences" />
        <activity
            android:name=".Earthquake"
            android:label="@string/app_name"
            android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FragmentPreferences" />

        <provider
            android:name=".EarthquakeProvider"
            android:authorities="com.storm.earthquakeprovider" />
        <activity
            android:name=".EarthquakeSearchResults"
            android:label="Earthquake Search"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <receiver
            android:name=".EarthquakeAlarmReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.storm.earthquake.ACTION_REFRESH_EARTHQUAKE_ALARM" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".EarthquakeWidget"
            android:enabled="true"
            android:label="Cool quake widge!!t">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.storm.earthquake.QUAKES_REFRESHED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/quake_widget_info" />
        </receiver>

        <receiver
            android:name=".EarthquakeListWidget"
            android:enabled="true"
            android:label="Earthquake List Widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/quake_widget_list_info" />
        </receiver>

        <service
            android:name=".EarthquakeRemoteViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS">

        </service>

    </application>
</manifest>
